---
layout: archive
permalink: /data-science-notes/
title: "Data Science Notes Series"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

<h2 id="dsnotes" class="archive__subtitle">data-science-notes</h2>


{% assign posts = group_items["data-science-notes"] %}
{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}
<a href="#">Back to Top</a>

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
  <a href="#">Back to Top</a>
{% endfor %}
